.header {
    height: 80px;
    background-color: #4CAF50;
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 4px 14px;
    border: 2px solid #fff;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
}
